<div class="canvas-wrapper">
  <div>
    <h2>coordiante collection</h2>
    <div *ngFor="let area of areaArray">
      <span *ngFor="let p of area.pointCollection">
        [{{p.x}},{{p.y}}]
      </span>
    </div>
  </div>
  <div>
    <canvas #customCanvas width="800" height="500" style="background: url('/assets/imgs/akita.jpg') 0% 0% / contain;"
      (mousedown)='onMouseDown($event)' (mousemove)="onmouseMove($event)" (mouseup)='onMouseUp($event)'
      (contextmenu)='onRightClick($event)'></canvas>
  </div>
  <div>
    <button (click)="addNewArea()">Add New</button>
    <button (click)="submit()">Submit</button>
    <button (click)="removeCurrent()">remove current</button>
  </div>
</div>




<!-- <div class="row">
  <div class="span6">
    <h2> Image 1 </h2>
    <textarea rows=3 name="coords1" class="canvas-area input-xxlarge" disabled placeholder="Shape Coordinates"
      data-image-url="http://farm8.staticflickr.com/7259/6956772778_2fa755a228.jpg">208,221,208,202,198,199,201,191,218,176,229,155,221,132,196,117,169,131,157,158,163,172,177,164,173,180,190,185,192,199,187,201,185,222</textarea>
  </div>
  <div class="span6">
    <h2> Image 2 </h2>
    <textarea name="coords2" rows=3 class="canvas-area input-xxlarge" disabled placeholder="Shape Coordinates"
      data-image-url="http://farm6.staticflickr.com/5010/5295769404_1a221cbb5e_z.jpg">299,84,297,92,285,98,275,109,271,123,273,141,287,156,311,162,333,156,345,142,346,126,340,107,321,92,314,89,309,81</textarea>
  </div>
</div> -->